@import "@/styles/variables";

// Utilities

.d-flx {
  display: flex;
}

.d-flxCol {
  display: flex;
  flex-direction: column;
}

.justContCent {
  justify-content: center;
}

.alignIteCent {
  align-items: center;
}

.space-bet {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.flx-grow {
  flex-grow: 1;
}

.upCase {
  text-transform: uppercase;
}

.fs-1 {
  font-size: 0.7rem;
}

.btn-custom {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: $text-color-1;
  border: none;
  background-color: $bg-15;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.btn-prev-next {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $bg-1;
  color: $text-color-18;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  span {
    transform: translateY(7px);
    font-size: 0.5rem;
    letter-spacing: 0.15rem;
    color: $text-color-13;
  }
}

.prev-tr {
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  top: 50%;
  left: -12px;
}

.next-tr {
  transform: translate(50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  right: -12px;
}
