// Typography

$base-font: 16px;
$font-family: "Oswald", sans-serif;

// Colors

// Background color: 20
$bg-1: #ffffff;
$bg-2: #ffffff4d;
$bg-3: #ffffff26;
$bg-4: #fbf9f9;
$bg-6: #f7f7f2;
$bg-7: #f6f7f2;
$bg-8: #ebebde;
$bg-9: #e4e4d4;
$bg-10: #ffa500;
$bg-11: #ffa323;
$bg-12: #b7903c;
$bg-13: #888888;
$bg-14: #ef2853;
$bg-15: #ee2852;
$bg-16: #d2401e;
$bg-17: #c83b1a;
$bg-18: #1c1c1c;
$bg-19: #040404;
$bg-20: #00000026;

// Text colors: 18

$text-color-1: #ffffff;
$text-color-2: #d3cfaf;
$text-color-3: #cdcdcd;
$text-color-4: #b2b2b2;
$text-color-5: #a6a6a6;
$text-color-6: #b7903c;
$text-color-7: #b68a2c;
$text-color-8: #8f8f8f;
$text-color-9: #339966;
$text-color-10: #858585;
$text-color-11: #767676;
$text-color-12: #d2401e;
$text-color-13: #ab4027;
$text-color-14: #5a5a5a;
$text-color-15: #303030;
$text-color-16: #2d2d2d;
$text-color-17: #1b1b1b;
$text-color-18: #000000;

// Fill colors

$fill-color-1: #ffffff;
$fill-color-2: #8f8f8f;
$fill-color-3: #ee2852;
$fill-color-4: #d2401e;
$fill-color-5: #303030;
$fill-color-6: #2d2d2d;
$fill-color-7: #000000;

// Border colors

$border-color-1: #f6f7f2;
$border-color-2: #efefe8;
$border-color-3: #e4e4d4;
$border-color-4: #b7903c;
$border-color-5: #d2401e;
$border-color-6: #1f151f;
