// Typography

$base-font: 16px;
$font-family:  'Oswald', sans-serif;

// Colors

// Background color: 20
$bg-1: #FFFFFF;
$bg-2: #FFFFFF4D;
$bg-3: #FFFFFF26;
$bg-4: #FBF9F9;
$bg-6: #F7F7F2;
$bg-7: #F6F7F2;
$bg-8: #EBEBDE;
$bg-9: #E4E4D4;
$bg-10: #FFA500;
$bg-11: #FFA323;
$bg-12: #B7903C;
$bg-13: #888888;
$bg-14: #EF2853;
$bg-15: #EE2852;
$bg-16: #D2401E;
$bg-17: #C83B1A;
$bg-18: #1C1C1C;
$bg-19: #1B1B1B;
$bg-20: #00000026;

// Text colors: 18

$text-color-1: #FFFFFF;
$text-color-2: #D3CFAF;
$text-color-3: #CDCDCD;
$text-color-4: #B2B2B2;
$text-color-5: #A6A6A6;
$text-color-6: #B7903C;
$text-color-7: #B68A2C;
$text-color-8: #8F8F8F;
$text-color-9: #339966;
$text-color-10: #858585;
$text-color-11: #767676;
$text-color-12: #D2401E;
$text-color-13: #AB4027;
$text-color-14: #5A5A5A;
$text-color-15: #303030;
$text-color-16: #2D2D2D;
$text-color-17: #1B1B1B;
$text-color-18: #000000;

// Fill colors

$fill-color-1: #FFFFFF;
$fill-color-2: #8F8F8F;
$fill-color-3: #EE2852;
$fill-color-4: #D2401E;
$fill-color-5: #303030;
$fill-color-6: #2D2D2D;
$fill-color-7: #000000;

// Border colors

$border-color-1: #F6F7F2;
$border-color-2: #EFEFE8;
$border-color-3: #E4E4D4;
$border-color-4: #B7903C;
$border-color-5: #D2401E;
$border-color-6: #1F151F;